{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>
<body>
    <div class="container">
      <div class="header">
        <div class="full-name">
          <span class="first-name">Молофеев</span>
          <span class="last-name">Иван</span>
        </div>
        <div class="contact-info">
          <span class="email">Email: </span>
          <span class="email-val">molofeev.ivan@bk.ru</span>
          <span class="separator"></span>
          <span class="phone">Phone: </span>
          <span class="phone-val">8-900-000-0000</span>
        </div>

        <div class="about">
          <span class="position">Junior Front-End Developer </span>
          <span class="desc">
            Я начинающий Front-End разработчик
          </span>
        </div>
      </div>
       <div class="details">
        <div class="section">
          <div class="section__title">Образование</div>
          <div class="section__list">
            <div class="section__list-item">
              <div class="left">
                <div class="name">МБОУ СОШ №53</div>
                <div class="addr">Ульяновск, Россия</div>
                <div class="duration">Сентябрь 2010 - Июнь 2019</div>
              </div>
            </div>

            <div class="section__list-item">
              <div class="left">
                <div class="name">IT Лицей при УлГТУ</div>
                <div class="addr">Ульяновск, Россия</div>
                <div class="duration">Сентябрь 2019 - Июнь 2021</div>
              </div>
            </div>
          </div>
      </div>

         <div class="section">
           <div class="section__title">Навыки</div>
           <div class="skills">
             <div class="skills__item">
               <div class="left"><div class="name">
                 HTML
                 </div></div>
               <div class="right">
                              <input  id="ck1" type="checkbox" checked/>

                 <label for="ck1"></label>
                              <input id="ck2" type="checkbox" />

                  <label for="ck2"></label>
                             <input id="ck3" type="checkbox" />

                  <label for="ck3"></label>
                               <input id="ck4" type="checkbox" />
                <label for="ck4"></label>
                              <input id="ck5" type="checkbox" />
                  <label for="ck5"></label>

               </div>
             </div>

           </div>
            <div class="skills__item">
               <div class="left"><div class="name">
                 CSS</div></div>
               <div class="right">
                              <input  id="ck1" type="checkbox" checked/>

                 <label for="ck1"></label>
                              <input id="ck2" type="checkbox" />

                  <label for="ck2"></label>
                             <input id="ck3" type="checkbox" />

                  <label for="ck3"></label>
                               <input id="ck4" type="checkbox" />
                <label for="ck4"></label>
                              <input id="ck5" type="checkbox" />
                  <label for="ck5"></label>
               </div>
             </div>
                   <div class="skills__item">
               <div class="left"><div class="name">
                 Python</div></div>
               <div class="right">
                              <input  id="ck1" type="checkbox" checked/>

                 <label for="ck1"></label>
                              <input id="ck2" type="checkbox" />

                  <label for="ck2"></label>
                             <input id="ck3" type="checkbox" />

                  <label for="ck3"></label>
                               <input id="ck4" type="checkbox" />
                <label for="ck4"></label>
                              <input id="ck5" type="checkbox" />
                  <label for="ck5"></label>
           </div>
        </br>
        </br>
         <div class="section">
         <div class="section__title">
           Интересы
           </div>
           <div class="section__list">
             <div class="section__list-item">
                      Программирование, компьютерные игры, сборка ПК
              </div>
           </div>
         </div>
         </div>
      </div>
    </div>
    </div>
</body>
</html>


